/* 
    Estilos compartilhados entre as views de elementos simples 
    como fontes, botoes, checkboxes, etc.
*/

body {
  font-family: system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
  color: #111;
  background: #fff;
}

/* input / checkbox */
input, button {
  font: inherit;
}

/* botão */
button {
  padding: 6px 12px;
  border: 1px solid #999;
  border-radius: 6px;
  background: #eee;
  cursor: pointer;
}

button:hover {
  background: #e0e0e0;
}

/* checkbox simples */
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* ===== select / combobox ===== */
select {
  font: inherit;
  padding: 6px 28px 6px 8px; /* espaço extra p/ seta */
  border: 1px solid #999;
  border-radius: 6px;
  background: #eee;
  cursor: pointer;
}

/* hover */
select:hover {
  background: #e0e0e0;
}

/* focus */
select:focus {
  outline: none;
  border-color: #666;
}

/* disabled */
select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


/* ===== DARK MODE ===== */
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  button {
    background: #2a2a2a;
    border-color: #555;
    color: #eee;
  }

  button:hover {
    background: #333;
  }

  input[type="checkbox"] {
    filter: invert(1);
  }

  select {
    background: #2a2a2a;
    border-color: #555;
    color: #eee;
    /* scrollbar-color: #3a3a3a #1e1e1e;      thumb | track */
    color-scheme: light dark; 
  }

  select:hover {
    background: #333;
  }

  /* Estilo dark mode de links */
  a {
    color: #60a5fa;
    text-decoration: none;
  }

  a:visited {
    color: #93c5fd;
  }

  a:hover {
    color: #bfdbfe;
    text-decoration: underline;
  }

  a:active {
    color: #3b82f6;
  }
}
