/* Estilo dos Controles (CheckBoxes e Botoes) do container superior (Header da pagina) */
.header-container {
    /* border: 3px solid yellow; */
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}