html, body {
  /* border: 1px solid red; */
  height: 100%;
  margin: 0;
  /* importante: impede o body/main de rolar, e joga scroll pros filhos */
  overflow: hidden;
}

.main {
    /* border: 3px solid black; */
    margin: 8px;
    height: calc(100vh - 2*8px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Estilo para esconder elementos dinamicamente via js */
.hl-hidden {
    display: none;
}

/* Estilo dos Controles (CheckBoxes e Botoes) do container superior */
.top-container {
    /* border: 3px solid yellow; */
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}


/* Estilos do Painel de Termos/Marcadores */
.hl-terms-panel {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    background: #f9f9f9;
}

.hl-terms-box {
    width: 100%;
    height: 50px;
    font-family: Consolas, monospace;
    font-size: 12px;
}

/* Estilos da Conteiner do LOG */
.log-box {
    /* border: 3px solid blueviolet; */
    border: 1px solid #ddd;
    overflow: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 80vh;
    white-space: pre;
    font-family: Consolas, monospace;
    font-size: 12px;
    padding: 10px;
    background: #fafafa;
}

/* Estilos para destacar termos/marcadores no LOG */
.hl-term {
    background: #ffc38a;
    border: 1px solid black;
}

/* Estilos para destacar pacotes CC33 no LOG */
.hl-pkg-ok {
    background: #f5fcf7;
    color: black;
}

.hl-pkg-err {
    background: rgb(224, 122, 122);
    color: black;
}

.hl-pkg-ok:hover {
    cursor: pointer;
}

.hl-pkg-err:hover {
    cursor: pointer;
}

.hl-border-top {
    border-top: 1px solid black;
}

.hl-border-bottom {
    border-bottom: 1px solid black;
}

.hl-border-sides {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.hl-pkg-mouseover {
    background: #a5ecc1;
}

/* Estilo para sobrescrever alguns estilos da table.css */
 #packageTableContainer {
    /* border: 3px solid black; */
    width: fit-content;
    /* width: 100%; */
    height: 700px;
    box-sizing: border-box;
    overflow: hidden;
}

.table-wrap-viewer {
    /* border: 3px solid red; */
    height: 100%;
    box-sizing: border-box;
    /* para o botao de fechar ficar relativo ao wrap da tabela */
    position: relative;
}

.table-clean-viewer {
    overflow: auto;
    width: 100%;
}

/* Estilo do botao pra fechar a tabela */
#btnClosePkgTable {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
}
