html, body {
  /* border: 1px solid red; */
  height: 100%;
  margin: 0;
  /* importante: impede o body/main de rolar, e joga scroll pros filhos */
  overflow: hidden;
}

.main {
    /* border: 3px solid black; */
    margin: 8px;
    height: calc(100vh - 2*8px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
