html, body {
  /* border: 1px solid red; */
  height: 100%;
  margin: 0;
  /* importante: impede o body/main de rolar, e joga scroll pros filhos */
  overflow: hidden;
}

.main {
    /* border: 3px solid black; */
    margin: 8px;
    height: calc(100vh - 2*8px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Estilo para esconder elementos dinamicamente via js */
.hl-hidden {
    display: none;
}

/* Estilo dos Controles (CheckBoxes e Botoes) do container superior */
.header-container {
    /* border: 3px solid yellow; */
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}


/* Estilos do Painel de Termos/Marcadores */
.hl-terms-panel {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    background: #f9f9f9;
}

.hl-terms-box {
    width: 100%;
    height: 50px;
    font-family: Consolas, monospace;
    font-size: 12px;
}

/* split pane container, faz split do #logBox e #tablesContainer */
.vsplit {
  height: 100vh;          /* ou height: 600px; / 100% do pai */
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-top: 10PX;
  overflow: hidden;       /* importante: não deixar "vazar" */
}

/* quando bottom está hidden, container vira "single pane" */
.vsplit.single-pane #splitPaneTop {
  flex: 1 1 auto !important;   /* ocupa tudo */
}

.vsplit.single-pane #splitDivider {
  display: none !important;     /* some a barra */
}

.pane {
  /* cada pane rola por conta própria */
  /* overflow: auto;          */
  /* passa para os filhos do pane a rolagem do scroll */
  overflow: hidden;
  /* limite mínimo (pode ajustar) */
  /* min-height: 80px;        */
  /* padding: 8px; */
}

.splitDivider {
  height: 10px;
  cursor: row-resize;
  background: #f0f0f0;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  touch-action: none;     /* importante pra touch */
}

.splitDivider:hover {
  background: #e6e6e6;
}

.splitDivider-grip {
  width: 60px;
  height: 4px;
  border-radius: 999px;
  background: #bdbdbd;
}

/* Estilos da Conteiner do LOG */
.log-box {
    /* border: 3px solid blueviolet; */
    /* border: 1px solid #ddd; */
    overflow: auto;
    /* margin-top: 12px; */
    /* margin-bottom: 12px; */
    /* height: 80vh; */
    height: 100%;
    white-space: pre;
    font-family: Consolas, monospace;
    font-size: 12px;
    padding: 10px;
    background: #fafafa;
}

/* Estilos para destacar termos/marcadores no LOG */
.hl-term {
    background: #ffc38a;
    border: 1px solid black;
}

/* Estilos para destacar pacotes CC33 no LOG */
.hl-pkg-ok {
    background: #f5fcf7;
    color: black;
}

.hl-pkg-err {
    background: rgb(224, 122, 122);
    color: black;
}

.hl-pkg-ok:hover {
    cursor: pointer;
}

.hl-pkg-err:hover {
    cursor: pointer;
}

.hl-border-top {
    border-top: 1px solid black;
}

.hl-border-bottom {
    border-bottom: 1px solid black;
}

.hl-border-sides {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.hl-pkg-hover {
    background: #a5ecc1;
}

/* Estilos para sobrescrever alguns estilos da table.css */
 #tablesContainer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#tablesFlexContainer {
    display: flex;
    gap: 8px;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
        /* para o botao de fechar ficar relativo ao container de tabelas */
    position: relative;
}

.table-wrap-viewer {
    /* box-sizing: border-box; */
}

.table-clean-viewer {
    overflow: auto;
    width: 100%;
}

.table-clean-viewer th, 
.table-clean-viewer td {
    /* não quebra linha por padrão */
    /* white-space: nowrap;  */
    /* quebra linha se tiver \r\n */
    white-space: pre-line;
    width: fit-content;
}

/* A ultima coluna pode quebrar linha */
.table-clean-viewer th:last-child, 
.table-clean-viewer td:last-child {
    /* permite quebra de linha */
    /* white-space: normal;         */
    /* quebra palavras grandes */
    word-break: break-word;      
}

/* Estilo do botao pra fechar a tabela */
#btnCloseTablesContainer {
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 3;
    cursor: pointer;
    background: lightcyan;
    border: 1px solid lightcoral;
    border-radius: 5px;
}
