/* Estilos para sobrescrever alguns estilos da table.css */

.single-table-container {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin: 6px;
}

.single-table-container table {
    width: 100%;
}


.single-table-container table td:nth-child(1) {
    /* largura minima da primeira coluna (nao fica menor que isso) */
    width: 140px;
}

.single-table-container table td:nth-child(2) {
    /* largura minima da segunda coluna (nao fica menor que isso) */
    width: 70px;
}