/* viewport: só controla scroll e layout */
.log-viewport {
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: auto;
  /* border: 2px solid red; */
}

/* spacer: âncora para posicionamento absoluto */
.log-spacer {
  position: relative;
  /* border: 2px solid yellow; */
}

/* content: é o bloco renderizado (virtualizado) */
.log-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: block;

  white-space: pre;
  font-family: Consolas, monospace;
  font-size: 12px;
  line-height: 14px;
  /* TEM que bater com lineHeight do JS */
  padding-left: 6px;

  background: #fafafa;
  color: #111;

  will-change: transform;
}

/* =========================================================
 * XUNXO PARA ZONA MORTA ENTRE LINHAS DOS PACOTES
 *
 * Com white-space: pre, as quebras de linha criam um "gap
 * invisível" entre linhas (line-height). Sem esse padding /
 * inline-block, existe uma faixa entre duas linhas consecutivas
 * que NÃO pertence a nenhum <span>.
 *
 * Este padding garante que o <span> cubra toda a altura visual
 * da linha, eliminando a zona morta de hover/click.
 * ========================================================= */
/*.log-box .pkg {
    display: inline-block;
    padding: 1px 0;
    cursor: pointer;
}*/

/* ===== LOG BOX (dark mode) ===== */
@media (prefers-color-scheme: dark) {
  .log-viewport {
    scrollbar-color: #475569 #0b1220;
    /* thumb | track */
  }

  .log-content {
    background: #0f172a;
    /* azul bem escuro / terminal vibe */
    color: #e5e7eb;
    /* texto claro */
  }
}