body { font-family: Arial, sans-serif; margin: 16px; }
.top { display:flex; gap:16px; align-items:center; flex-wrap: wrap; }
.file { font-family: Consolas, monospace; }
.box {
    margin-top: 12px;
    height: 80vh;
    overflow: auto;
    white-space: pre;
    font-family: Consolas, monospace;
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 10px;
    background: #fafafa;
}
.hl-panel { border:1px solid #ddd; padding:10px; margin-top:10px; background: #f9f9f9; }
.hl-hidden { display:none; }
.hl-box { width:100%; height:90px; font-family: Consolas, monospace; font-size: 12px; }
.hl-term { background: #ffc38a; border: 1px solid black; }
.hl-pkg-ok {  background: #def3e6; color: black; }
.hl-pkg-err {  background: rgb(224, 122, 122); color: black; }
.hl-pkg-ok:hover { cursor: pointer; }
.hl-pkg-err:hover { cursor: pointer; }
.hl-border-top { border-top: 1px solid black; }
.hl-border-bottom { border-bottom: 1px solid black; }
.hl-border-sides { border-left: 1px solid black; border-right: 1px solid black; }
.hl-pkg-hover { font:bold };