/* sobrescreve estilos do table.css para necessidades dessa view */
.table-scroll {
    width: 100% !important;
}

table {
    width: 100%;
}

th, td {
  /* padding: 10px 14px; */
  padding: 5px 7px !important;
}

#parsedPackageTable td:nth-child(1),
#parsedMessageTable td:nth-child(1) {
    /* largura minima da primeira coluna (nao fica menor que isso) */
    width: 140px;
}

#parsedPackageTable td:nth-child(2),
#parsedMessageTable td:nth-child(2) {
    /* largura minima da segunda coluna (nao fica menor que isso) */
    width: 70px;
}

#parsedPackageTable td,
#parsedMessageTable td {
  white-space: pre-wrap;   /* respeita \n e \r\n, fazendo pular linha */
  word-break: break-word;  /* evita estourar a célula */
}

#listMessageTable {
    margin: 12px;
    /* impede que o conteudo de uma celula quebre em multiplas linhas */
    /* white-space: nowrap;  */
    /* respeita \r\n quebrando a linha, mas se nao houver e o texto for maior que o width da coluna, expande o tamanho da coluna para não quebrar */ 
    white-space: pre;     
    /* respeita \r\n quebrando a linha, e também quebra linha se o texto for maior que o width da coluna */
    /* white-space: pre-wrap; */
    
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .table-scroll {
        background: rgb(30, 30, 30);
    }
}