/* ===== LOG BOX (light) ===== */
.log-box {
    overflow: auto;
    height: 100%;
    width: 100%;
    white-space: pre;
    font-family: Consolas, monospace;
    font-size: 12px;
    background: #fafafa;
    color: #111;
    padding-left: 6px;
}

/* ===== LOG BOX (dark mode) ===== */
@media (prefers-color-scheme: dark) {
    .log-box {
        background: #0f172a;   /* azul bem escuro / terminal vibe */
        color: #e5e7eb;        /* texto claro */

        scrollbar-color: #475569 #0b1220;      /* thumb | track */
    }
}

