/* Estilos para sobrescrever alguns estilos da table.css */

.single-table-container {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.single-table-container table {
    width: 100%;
}