.splitter {
  height: 100vh;
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  margin-top: 10px;
  overflow: hidden;
}

/* Orientações */
.splitter.is-vertical {
  flex-direction: column;
}

.splitter.is-horizontal {
  flex-direction: row;
}

/* panes */
.splitter .pane {
  overflow: hidden;  /* passa para os filhos do pane a rolagem do scroll */
  min-width: 0;   /* importante no horizontal pra não estourar */
  min-height: 0;  /* importante no vertical pra não estourar */
}

/* single-pane: some divider + second */
.splitter.single-pane .splitDivider {
  display: none !important; /* some a barra */
}

.splitter.single-pane .pane.first {
  flex: 1 1 auto !important; /* ocupa tudo */
}

/* Divider base */
.splitter .splitDivider {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  touch-action: none;
  background: #f0f0f0;
}

.splitter .splitDivider:hover {
  background: #e6e6e6;
}

/* Divider por orientação */
.splitter.is-vertical .splitDivider {
  height: 10px;
  cursor: row-resize;
}

.splitter.is-horizontal .splitDivider {
  width: 10px;
  cursor: col-resize;
}

/* Grip: pode mudar formato dependendo do modo */
.splitter .splitDivider-grip {
  border-radius: 999px;
  background: #bdbdbd;
}

.splitter.is-vertical .splitDivider-grip {
  width: 60px;
  height: 4px;
}

.splitter.is-horizontal .splitDivider-grip {
  width: 4px;
  height: 60px;
}

.splitter .pane.second {
    /* para o botão btnCloseSecondPane ficar relativo ao  segundo pane */
  position: relative;
}

/* Estilo do botao pra fechar o segundo pane */
#btnCloseSecondPane {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
    background: lightcyan;
    border: 1px solid lightcoral;
    border-radius: 5px;
    font-size: 12px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .splitter {
    border: 1px solid rgba(255,255,255,0.15);
    background: #0b1220;
  }

  .splitter .splitDivider {
    background: rgba(255,255,255,0.06);
  }

  .splitter .splitDivider:hover {
    background: rgba(255,255,255,0.10);
  }

  .splitter .splitDivider-grip {
    background: rgba(255,255,255,0.45);
  }
}
