/* ===== LOG BOX (light) ===== */
.log-box {
    overflow: auto;
    height: 100%;
    width: 100%;
    white-space: pre;
    font-family: Consolas, monospace;
    font-size: 12px;
    background: #fafafa;
    color: #111;
    padding-left: 6px;
}

  /*
   * XUNXO PARA ZONA MORTA ENTRE LINHAS CONSECUTIVAS DOS PACOTES CC33 NO LOG
   *
   * Com white-space: pre, as quebras de linha criam um "gap invisível"
   * entre as linhas (line-height). Sem esse padding / inline-block,
   * existe uma faixa entre duas linhas consecutivas que NÃO pertence
   * a nenhum <span>, quando o mouse fica exatamente entre as duas linhas
   * o evento de click nao funcionará.
   *
   * Este padding garante que o <span> cubra toda a altura visual da linha,
   * eliminando a zona morta de hover/click.
   */
.log-box span {
  display: inline-block;
  padding: 1px 0;
  cursor: pointer;
}

/* ===== LOG BOX (dark mode) ===== */
@media (prefers-color-scheme: dark) {
    .log-box {
        background: #0f172a;   /* azul bem escuro / terminal vibe */
        color: #e5e7eb;        /* texto claro */

        scrollbar-color: #475569 #0b1220;      /* thumb | track */
    }
}

