:root {
  /* Texto */
  --hl-text-default: black;

  /* Backgrounds (light mode) */
  --hl-bg-online: #8ee7a7;
  --hl-bg-offline: lightgrey;
  --hl-bg-incomming: rgb(52, 182, 238);
  --hl-bg-err: rgb(224, 122, 122);

  /* Bordas */
  --hl-border-color: black;
  --hl-border-width: 1px;
  --hl-border-color-selected: #7807f9;
  --hl-bg-selected: rgba(255, 200, 0, 0.15);

}

/* ========================= */
/* PACOTES */
/* ========================= */

/* Destaca pacotes enviados ONLINE */
.hl-pkg-online {
  background: var(--hl-bg-online);
  color: var(--hl-text-default);
}

/* Destaca pacotes enviados OFFLINE */
.hl-pkg-offline {
  background: var(--hl-bg-offline);
  color: var(--hl-text-default);
}

/* Destaca pacotes recebidos */
.hl-pkg-incomming {
  background: var(--hl-bg-incomming);
  color: var(--hl-text-default);
}

/* Destaca pacotes com ERRO no parseamento */
.hl-pkg-err {
  background: var(--hl-bg-err);
  color: var(--hl-text-default);
}

/* ========================= */
/* BORDAS */
/* ========================= */

.hl-border-top {
  border-top: var(--hl-border-width) solid var(--hl-border-color);
}

.hl-border-bottom {
  border-bottom: var(--hl-border-width) solid var(--hl-border-color);
}

.hl-border-left {
  border-left: var(--hl-border-width) solid var(--hl-border-color);
}

.hl-border-right {
  border-right: var(--hl-border-width) solid var(--hl-border-color);
}

.hl-border-sides {
  border-left: var(--hl-border-width) solid var(--hl-border-color);
  border-right: var(--hl-border-width) solid var(--hl-border-color);
}

/* PACOTE SELECIONADO */
.hl-pkg-selected {
  border-color: var(--hl-border-color-selected);
  border-width: 3px;
}

.hl-ticket-selected {
  border-color: var(--hl-border-color-selected);
  border-width: 3px;
  border-style: solid;
}

/* ========================= */
/* INTERAÇÃO */
/* ========================= */

.hl-pkg-online:hover,
.hl-pkg-offline:hover,
.hl-pkg-incomming:hover {
  cursor: pointer;
}

/* Conteudo pendente do log */
.pending-content {
 opacity: 0.65;   
}

/* ========================= */
/* DARK MODE */
/* ========================= */

@media (prefers-color-scheme: dark) {
  :root {
    --hl-bg-online: rgba(46, 204, 113, 0.42);
    --hl-bg-offline: rgba(210, 220, 235, 0.48);
    --hl-bg-incomming: rgba(52, 182, 238, 0.55);
    --hl-bg-err: rgba(231, 76, 60, 0.25);

    --hl-text-default: #e8f5ec;
    --hl-border-color: rgba(255, 255, 255, 0.35);
    --hl-border-color-selected: #faf20f; /*rgba(255, 215, 0, 0.9);*/
    --hl-bg-selected: rgba(255, 215, 0, 0.18);

  }

  /* Ajuste fino opcional se quiser textos diferentes */
  .hl-pkg-err {
    color: #ffd6d6;
  }
}
