/* viewport: só controla scroll e layout */
.text-box-viewport {
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: auto;
  /* border: 2px solid red; */
  /* 'relative' para a classe .findbar se posicionar em relacao ao viewport */
}

/* spacer: âncora para posicionamento absoluto */
.text-box-spacer {
  position: relative;
  /* border: 2px solid yellow; */
}

/* content: é o bloco renderizado (virtualizado) */
.text-box-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: block;

  white-space: pre;
  font-family: Consolas, monospace;
  font-size: 12px;
  line-height: 14px; /* TEM que bater com lineHeight do JS */
  
  padding-left: 6px;

  background: #fafafa;
  color: #111;

  will-change: transform;
}



/* ===== LOG BOX (dark mode) ===== */
@media (prefers-color-scheme: dark) {
  .text-box-viewport {
    scrollbar-color: #475569 #0b1220;
    /* thumb | track */
  }

  .text-box-content {
    background: #0f172a;
    /* azul bem escuro / terminal vibe */
    color: #e5e7eb;
    /* texto claro */
  }
}